{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="featured-specialists">
    <h2>Bedroom Designs</h2>
    <div class="specialists-list">
        <div class="specialist-card">
            <img src="{% static 'images/room6.jpg' %}" width="300" height="auto" alt="picture of room1">
            <h3>Design 1.1</h3>
            </a>
        </div>
        <div class="specialist-card">
            <img src="{% static 'images/room3.jpg' %}" width="300" height="auto" alt="picture of room2">
            <h3>Design 1.2</h3>
            </a>
        </div>
        <div class="specialist-card">
            <img src="{% static 'images/room4.jpg' %}" width="300" height="auto" alt="picture of room2">
            <h3>Design 1.3</h3>
            </a>
        </div>
    </div>
</section>

{% endblock content %}