{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- container for about infomation -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header text-center">
          <h1> How You Would Like To Be Inspired? </h1>
        </div>
        <div class="about-content">
          <p>Do you need tips for how to decorate, no matter what your style or budget is? Do you need some fresh
            inspiration for ways to decorate your home?</p>
          <p>I’ve rounded up categories below to inspire you with the types of tips, ideas and decorating inspiration
            you
            are looking for.</p>
          <p> These pages and posts will provide you with endless affordable and simple ideas for your home! Simply
            click
            on any of the links below and then scroll down to the booking section to book consultancy/advice for how to
            decorate.</p>
        </div>
        <div class="col mb-4">
          <div class="card-body text-center">
            <a href="{% url 'bedrooms' %}" class="btn btn-signup" target="_blank">Bedrooms</a>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card-body text-center">
            <a href="{% url 'kitchen' %}" class="btn btn-signup" target="_blank">Kitchen</a>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card-body text-center">
            <a href="{% url 'washroom' %}" class="btn btn-signup" target="_blank">Washroom</a>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card-body text-center">
            <a href="{% url 'livingrooms' %}" class="btn btn-signup" target="_blank">Living Rooms</a>
          </div>
        </div>
        <div class="container mt-5 text-center">
          <div class="col-md-8 offset-md-2">
            <h3 class="cta-btn">
             class="btn btn-signup" target="_blank">Book Consultancy</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}