{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-image">
    <h1>LivingRooms Designs</h1>
    <div class="row">
        <!-- First Image -->
            <!-- Use 3 cards per row on medium and larger screens -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="{% static 'images/livingroom.jpg' %}" width="400" height="400" alt="picture of livingroom1">
                <h3>Design 4.1</h3>
            </div>
                <!-- Second Image -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="{% static 'images/livingroom2.jpg' %}" width="400" height="400"
                        alt="picture of livingroom2">
                    <h3>Design 4.2</h3>
                </div>
                    <!-- Third Image -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <img src="{% static 'images/livingroom6.jpg' %}" width="400" height="400"
                            alt="picture of livingroom3">
                        <h3>Design 4.3</h3>
                    </div>
                </div>
            </div>

{% endblock content %}