{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-image">
    <h1>Washroom Designs</h1>
    <!-- Bootstrap Grid Layout -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Use 3 cards per row on medium and larger screens -->
            <img src="{% static 'images/Pinkwashroom.webp' %}" width="400" height="400" alt="picture of washroom1">
            <h3>Design 3.1</h3>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="{% static 'images/washroom3.jpg' %}" width="400" height="400" alt="picture of washroom2">
            <h3>Design 3.2</h3>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="{% static 'images/washrrom2.jpg' %}" width="400" height="400" alt="picture of washroom3">
            <h3>Design 3.3</h3>
        </div>
    </div>
</div>
{% endblock content %}