{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="appointment-container" class="row justify-content-center">
<div>
    <h1 class="appointment-title">Book an Appointment</h1>
    <form method="POST" class="appointment-form">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Lets Book!</button>
    </form>
</div>
</div>
{% endblock %}