{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/appointment_confirmation.css' %}">
{% endblock %}

{% block content %}
<div class="confirmation-container">
    <h1 class="confirmation-title">Your appointment has been successfully booked!</h1>
    <p class="confirmation-message">Thank you for booking an appointment.</p>
</div>
{% endblock %}

{% block copyright %}
Copyright 2025 Madiha Babri
{% endblock %}