{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col mb-4">
    <div class="card-body text-center">
        <h1> How You Would Like To Be Inspired? </h1>
        <p>Do you need tips for how to decorate, no matter what your style or budget is? Do you need some fresh
            inspiration for ways to decorate your home?</p>
        <p>I’ve rounded up categories below to inspire you with the types of tips, ideas and decorating inspiration you
            are looking for.</p>
        <p> These pages and posts will provide you with endless affordable and simple ideas for your home! Simply click
            on any of the links below and then scroll down to the booking section to book consultancy/advice for how to
            decorate.</p>

        <h5 class="card-title"></h5>
        <a href="{% url 'bedrooms.html' %}" class="btn btn-primary" target="_blank">Bedrooms</a>
        <div>
            <div class="title-container">
                <h1 class="entry-title">1. Bedrooms</h1>
                <div id="photos">
                    <span>
                    <img src="{% static 'images/Pinkwashroom.webp' %}" alt="placeholder image">
                    <h3>Design 1.1</h3>
                </span>
                <span>
                    <img src="{% static 'images/aboutpagepic.jpg' %}" alt="placeholder image">
                    <h3>Design 1.2</h3>
                </span>

                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card-body text-center">

                <h5 class="card-title"></h5>
                <p class="card-text"></p>



                <a href="kitchen.html" class="btn btn-primary">Kitchen</a>
            </div>

        </div>
        <div class="col mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">
                    <br>




                    <a href="maciej.html" class="btn btn-primary" target="_blank">Washroom</a>
            </div>

        </div>
        <div class="col mb-4">


            <div class="card-body text-center">
                <br>
                <p class="card-text"></p>

                <a href="madiha.html" class="btn btn-primary" target="_blank">Living Rooms</a>
            </div>

        </div>
    </div>
    <div>
        <div class="appointment-container" class="row justify-content-center">
            <div>
                <h1 class="appointment-title">Book an Appointment</h1>
                <form method="POST" class="appointment-form">
                    {% csrf_token %}
                    <div class="form-fields">
                        {{ form.as_p }}
                    </div>
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Lets Book!</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}