{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="container my-5">
        <h1 class="text-center mb-4">WASHROOM</h1>

        <!-- Bootstrap Grid Layout -->
        <div class="row">
            <div class="col-12 col-md-4 mb-4"> <!-- Use 3 cards per row on medium and larger screens -->
                    <div class="card-bed">
                        <img src="{% static 'images/Pinkwashroom.jpg' %}" alt="picture of washroom1">

                        <h3>Design 1.1</h3>
                     <div class="card-bed">
                        <img src="{% static 'images/washroom3.jpg' %}" alt="picture of washroom2">

                        <h3>Design 1.2</h3>
                    <div class="card-bed">
                        <img src="{% static 'images/washroom2.jpg' %}" alt="picture of washroom3">

                        <h3>Design 1.3</h3>
                    </div>
                    </div>
                    </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ room.title }}</h5>
                            <p class="card-text">{{ room.description }}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}