{% extends "base.html" %} 
{% load static %}


<!-- customised by: warning the user this cannot be undone -->
<!-- customised by: using {consultancy.design_type} and { booking.date_of_booking} instead of {object.title} -->
{% block title %}Delete booking - {{ consultancy.design_type }} {% endblock %} 

{% block content %}
<div class="container">
    <h3 class="text-center mt-2">Confirm Booking Deletion</h3>
    <div class="d-flex justify-content-center pt-4">
        <form method="POST" enctype="multipart/form-data" class="p-2 form" action="{% url 'delete_booking' consultancy.id %}">
            {% csrf_token %} 
            <p class="you-sure">Are you sure you want to delete "{{ consultancy.design_type }}, {{ consultancy.date_of_booking}}"?</p>
            <p class="you-sure">This cannot be undone!</p>
            <input type="submit" value="Confirm" class="btn btn-primary w-25 deletion-btn">
        </form>
    </div>
</div>
{% endblock %}